[submodule "vim/bundle/lusty-explorer"]
	path = vim/bundle/lusty-explorer
	url = git://github.com/vim-scripts/LustyExplorer.git
	ignore = dirty
[submodule "vim/bundle/mini-buffer-explorer"]
	path = vim/bundle/mini-buffer-explorer
	url = git://github.com/fholgado/minibufexpl.vim.git
	ignore = dirty
[submodule "vim/bundle/keepcase"]
	path = vim/bundle/keepcase
	url = git://github.com/vim-scripts/keepcase.vim.git
	ignore = dirty
[submodule "vim/bundle/tComment"]
	path = vim/bundle/tComment
	url = git://github.com/vim-scripts/tComment.git
	ignore = dirty
